@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: quicksand, sans-serif;
    font-weight: 300;
    color: black;
}

/* Logo */

#outer-logo {
    background-color: black;
    float: left;
    height: 150px;
    width: 13%;
    margin-top: 20px;
    margin-left: 100px;
    position: relative;
    display: table;
}

#logo {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-top: 50px;
    font-size: 200%;
}

/* Navigation Links */

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

#menu li {
    display: inline;
}

#menu a {
    font-size: 150%;
    display: inline-block;
    padding: 10px;
    margin-top: 70px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

/* Log In, Sign Up Menu */

.text-right {
    list-style: none;
    float: right;
}

.modal-login {
    width: 320px;
    margin: 30px auto;
}
.modal-login .modal-content {
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    position: relative;
    justify-content: center;
    background: #f2f2f2;
}
.modal-login .modal-body {
    padding: 30px;
}
.modal-login .modal-footer {
    background: #f2f2f2;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login label {
    font-weight: normal;
    font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 38px;
    border-radius: 2px; 
}
.modal-login .hint-text {
    text-align: center;
}
.modal-login .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal-login .checkbox-inline {
    margin-top: 12px;
}
.modal-login input[type="checkbox"]{
    margin-top: 2px;
}
.modal-login .btn {
    min-width: 100px;
    background: #3498db;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #248bd0;
}
.modal-login .hint-text a {
    color: #999;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}