@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: quicksand, sans-serif;
    font-weight: 300;
    color: black;
    background-color: rgb(108, 203, 235) !important;
}

span {
    font-weight: bold;
}

/* Logo, Nav, loginbutton */

h1, nav, #login-button {
    text-transform: uppercase;
}

/* Logo */

.float-logo-left {
    float: left;
    width: 30%;
}

#outer-logo {
    background-color: black;
    height: 150px;
    width: 50%;
    margin: 20px 0 0 5%;
    display: table;
}

#logo {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-top: 50px;
    font-size: 200%;
}

/* Navigation Links */

nav {
    margin: 20px 0 0 0;
    float: left;
    width: 40%;
    height: 150px;
}

.bg-black {
    background-color: black;
}

.my-nav {
    background-color: black !important;
    color: white !important;
    text-align: center !important;
    font-size: 1.4vw;
}

.navbar-toggler {
    background-color: white !important;
    color: black !important;
}

.my-nav a:hover {
    border-bottom: 1px solid white;
}

/* Log In modal */

.float-right {
    list-style: none;
    margin: 20px 5% 0 0;
    padding: 0;
    text-align: center;
    position: relative;
    float: left;
    width: 15%;
}

#outer-login-button {
    height: 150px;
    background-color: black;
    text-align: center;
}


#login-button {
    font-size: 130%;
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-color: black;
}

#login-button:hover {
    border: 1px solid white;
}

/* Pop up Modal */

.container {
    padding: 2rem 0rem;
}

.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

/* Carousel */

#carousel {
    margin: 1% 10%;
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
}

.carousel-inner {
    margin: auto;
}

.carousel-inner > .carousel-item > img {
    height: 80%;
    width: 100%;
    margin: auto;
}

/* Group training section */

.group-training {
    display: inline-block;
}

#group-text-left {
    float: left;
    text-align: center;
    vertical-align: top;
    width: 25%;
    margin: 5% 0 0 5%;
    font-size: 80%;
}

#image-right {
    float: right;
    width: 65%;
    margin-right: 5%;
}

#image-right img {
    height: 100%;
    width: 100%;
}

/* Online Workout text section */

.online-training {
    display: inline-block;
}

#online-text-right {
    float: right;
    text-align: center;
    vertical-align: top;
    width: 40%;
    margin: 15% 10% 0 0;
    font-size: 80%;
}

#image-left {
    float: left;
    width: 40%;
    margin: 2% 0 5% 5%;
}

#image-left img {
    height: 100%;
    width: 100%;
}

/* Footer */

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
}

.column {
    float: left;
}

.column li {
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-size: 100%;
}

.column a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.column i {
    font-size: 150%;
    margin: 0 2px;
}

#left-footer {
    width: 50%;
}

#right-footer, #middle-footer {
    width: 25%;
}

.uppercase-footer {
    text-transform: uppercase;
}

/* Schedule */

.container {
    margin: 5% 5% 0 5%;
    clear: both;
    width: 100%;
}

body{
    margin-top:20px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Workoutonline.html section */

.row {
    float: left;
}

.video-column-left {
    width: 50%;
    text-align: center;
}

.video-column-right {
    width: 50%;
    text-align: center;
}

iframe {
    width: 500px;
    height: 300px;
    border: 5px solid black;
}

.row::after {
    display: table;
    clear: both;
}

/* Contact */

#contact-info {
    float: left;
    clear: left;
    margin: 15% 0 0 10%;
}

/* Question Form */

.question-form {
    width: 600px;
    background-color: rgb(182, 182, 182);
    border: 1px solid black;
    float: right;
    margin: 10% 10% 0 0;
    position: relative;
}

.form-text {
    float: left;
    padding-left: 10px;
}

#submit-reset-button {
    float: right;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Location */

#location {
    clear: both;
    text-align: center;
}

#map {
    clear: left;
    margin-bottom: 10%;
    text-align: center;
}

#map > iframe {
    width: 80%;
    height: 100%;
}

/* Media Queris */

@media screen and (max-width: 950px){

    /* Login Button */

    .float-right {
        display: none;
    }

    /* Carousel */

    .carousel-text {
        font-size: 100%;
    }

    #carousel {
        margin: 30px 5%;
        width: 100%;
    }

    .carousel-inner > .carousel-item > img {
        height: 80%;
        width: 100%;
        margin: auto;
    }

    /* Group text section */

    .group-training {
        clear: both;
    }

    #group-text-left {
        width: 90%;
        text-align: center;
    }

    #image-right {
        width: 90%;
    }

    /* Online workout section */

    .online-training {
        clear: both;
    }

    #online-text-right {
        width: 70%;
        margin: 0 15% 80px 15%;
        text-align: center;
    }

    #image-left {
        width: 70%;
        height: 80%;
        margin: 15px 15%;
    }
}

@media screen and (max-width: 650px){

    .carousel-text {
        display: none;


    }
}

/* Modal Query */

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}