@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: quicksand, sans-serif;
    font-weight: 300;
    color: black;
}

/* Logo */

#outer-logo {
    background-color: black;
    float: left;
    height: 150px;
    width: 250px;
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    display: table;
}

#logo {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-top: 50px;
    font-size: 200%;
}

/* Navigation Links */

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

#menu li {
    display: inline;
}

#menu a {
    font-size: 150%;
    display: inline-block;
    padding: 10px;
    margin-top: 70px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

/* Log In modal */

#login-button {
    list-style: none;
    float: right;
    margin-top: 70px;
    margin-right: 100px;
    background-color: white;
    color: black;
    border: none;
    font-size: 150%;
}

#login-button :hover {
    border: 1px solid black;

}

.container {
    padding: 2rem 0rem;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

/* Carousel */

.carousel {
    margin: 50px 50px;
}

.carousel-item img {
    height: 700px;
    width: 500px;
}

/* Group training section */

.group-training {
    display: inline-block;
}

#group-text-left {
    float: left;
    text-align: center;
    vertical-align: top;
    width: 25%;
    margin: 100px 0 0 50px;
}

#image-right {
    float: right;
    width: 65%;
    margin-right: 40px;
}

#image-right img {
    height: 400px;
    width: 1000px;
}

/* Online Workout text section */

.online-training {
    display: inline-block;
}

#online-text-right {
    float: right;
    text-align: center;
    vertical-align: top;
    width: 40%;
    margin: 120px 100px 0 0;
}

#image-left {
    float: left;
    width: 40%;
    margin: 50px 0 70px 80px;
}

/* Footer */

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: rgb(206, 15, 15);
}

.column {
    float: left;
    width: 33.33%;
}

.column li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.column a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.column i {
    font-size: 150%;
    margin: 5% 30%;
    display: inline;
}

#right-footer {
    float: right;
    margin-right: 50px;
}

/* Schedule */

.container {
    margin-top: 100px;
}

body{
    margin-top:20px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Workoutonline.html section */

.video-column {
    float: left;
    margin: 70px 50px 80px 50px;
    text-align: center;
}

.row::after {
    display: table;
    clear: both;
}

/* Contact */

#contact-info {
    float: left;
    clear: left;
    margin: 200px 0 0 300px;
}

/* Question Form */

.question-form {
    width: 700px;
    background-color: rgb(182, 182, 182);
    border: 1px solid black;
    float: right;
    margin: 130px 150px 0 0;
    position: relative;
}

.form-text {
    float: left;
    padding-left: 10px;
}

#submit-reset-button {
    float: right;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Location */

#location {
    clear: left;
    float: left;
    margin: 150px 0 0 300px;
}